body {
  font-family: 'Times New Roman', Times, serif;
  background:whitesmoke;
}

nav {
  background:skyblue;
  padding: 10px;
}
.container {
  padding: 20px;
  background: white;
  margin: 20px;
}
footer {
  background:whitesmoke;
  color:black;
  text-align: center;
  padding: 10px;
}
