.contact {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: auto;
  background-image: url("https://img.freepik.com/premium-vector/pink-amaryllis-pattern-background-vector_53876-173776.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
