.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: pink;
}

.navbar h2 {
  color: white;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
}
body {
  margin: 0;
}
